<div class='container'>
  <div class='jobs-list'>
    <ul>
      <% @jobs.each do |job| %>
        <li>
          <div class="card">
            <h5 class="card-header"><%= job.title %></h5>
            <div class="card-body">
              <h5 class="card-title"><%= job.company.name %></h5>
              <p class="card-text"><% job.description %></p>
              <%= link_to 'Show job', job, class: 'card-link' %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <h4> Cities list </h4>
  <div class='cities-list'>
    <ul>
      <% @cities.each do |city| %>
        <li>
          <%= city.code %> -- <%= city.name %>
          <%= link_to 'Show', controller: 'jobs', action: 'jobs_in_city', slug: city.slug %>
        </li>
      <% end %>
    </ul>
  </div
</div>
