<p>Dear <%= @user.name %></p>

<p>Job title: <%= @job.title %></p>
<p>Location: <%= @job.cities.first.name %></p>
<p>Company: <%= @job.company.name %></p>

<p>Your submitted information:</p>
<p>Full Name: <%= @user.name %></p>
<p>Email:     <%= @user.email %></p>

<p>Best,</p>
<p>Boss</p>