<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h5>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :job_id, @job.id %>

  <%= form.label :name %><br>
  <%= form.text_field :entry_name, class: 'form-control col-sm-4' %><br>

  <%= form.label :email %><br>
  <%= form.email_field :entry_email, class: 'form-control col-sm-4' %><br>

  <%= form.submit yield(:button_text), class: "btn btn-secondary" %>
  <%= link_to 'Back', :back, class: "btn btn-secondary"  %>
<% end %>
