<div class='container'>
  <div class='container'>
    <%= form_tag(jobs_path, method: 'get',
                        class: 'form-inline') do %>
        <%= text_field_tag :search, params[:search],
                        placeholder: 'Search Jobs',
                        class: 'form-control mr-sm-2'%>
        <%= submit_tag 'Search', name: nil,
                        class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div><br>

  <div class='container'>
    <h3>Search result: <%= pluralize(@job_num , 'job') %></h3><br>

    <%= paginate @jobs%>
    <%= render @jobs %>
    <%= paginate @jobs%>
  </div>
</div>
