<div class="row">
  <aside class="col-md-16">
    <section class="user_info">
    <h2>Job detail</h2>
    
    <h4>
      <%= @job.title %>
    </h4>

    <p>
      <%= @job.description %>
    </p>

    <% if user_signed_in? %>
      <%= link_to "Apply", { controller: "entries", action: "new", job_id: @job.id,
                           entry_name: current_user.name, entry_email: current_user.email },
                          class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "Apply", apply_path(job_id: @job.id),
                        class: "btn btn-secondary" %>
    <% end %>

    <%= link_to 'Back', :back, class: "btn btn-secondary"  %>
    </section> 
  </aside>
</div>
