<div class="row">
  <aside class="col-md-16">
    <section class="user_info">

      <h4>
        <%= @job.title %> 
      </h4>
      <p> 
        <%= link_to "Apply",  apply_path(job_id: @job.id),
                            class: "btn btn-secondary" %>
      </p><br>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Job title</th>
            <td><%= @job.title %></td>
          </tr>
          <tr>
            <th scope="row">Company</th>
            <td><%= @job.company.name %></td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>
              <%= @job.cities.map(&:name).reject(&:blank?).join(', ') %>
            </td>
          </tr>
          <tr>
            <th scope="row">Salary</th>
            <td><%= @job.salary %></td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td><%= @job.description %></td>
          </tr>
        </tbody>
      </table>

      <%= link_to "Apply",  apply_path(job_id: @job.id),
                            class: "btn btn-secondary" %>
      <%= link_to 'Back', :back, class: "btn btn-secondary" %>
    </section> 
  </aside>
</div>
